.box{
	width:300px;
	height:300px;
	background-color:#EAEDED;
	
	color:white;
	box-sizing:border-box;
	margin:200px auto;
   /* box-shadow:  10px 10px 10px   #cccccc;*/
    box-shadow: 3px 0px 3px 7px  #cccccc;
	
}
.photo{
	
	width:200px;
	height:170px;
    float:bottom;
	padding:50px 0px 0px 50px;
}

b{
	
	background-color:#F5640C;
	display:inline-block;
	position:absolute;
    bottom:165px;
	left:525px;
	width:300px;
	height:29px;
	text-align:center;
	font-size:21px;
}

	